<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.schoollife.dao.CardDao">
	<resultMap type="com.my.schoollife.bean.Card" id="cardMap">
		<id 	 column="id"                        jdbcType="BIGINT"        property="id" />
        <result  column="card_no"                jdbcType="VARCHAR"       property="cardNo"/>
        <result  column="status"                jdbcType="VARCHAR"       property="status"/>
        <result  column="stu_no"                jdbcType="VARCHAR"       property="stuNo"/>
        <result  column="money"                jdbcType="VARCHAR"       property="money"/>
        <result  column="lost_date"                jdbcType="TIMESTAMP"       property="lostDate"/>
        
	</resultMap>
	<insert id="insert" parameterType="com.my.schoollife.bean.Card">
		insert into t_card(card_no,status,stu_no,money)
		values(#{cardNo},#{status},#{stuNo},#{money})
	</insert>
	
	<select id="getCard" resultMap="com.my.schoollife.bean.CardDto">
		select t.id as id,t.card_no as cardNo,t.status as status,t.stu_no as stuNo,t.money as money 
		,(select t_student.name from t_student where t_student.stu_no=t.stu_no) as stuName 
		from t_card t
	</select>
	
</mapper>