<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.schoollife.dao.CardDao">
	<resultMap type="com.my.schoollife.bean.Card" id="cardMap">
		<id 	 column="id"                        jdbcType="BIGINT"        property="id" />
        <result  column="card_no"                jdbcType="VARCHAR"       property="cardNo"/>
        <result  column="status"                jdbcType="VARCHAR"       property="status"/>
        <result  column="stu_no"                jdbcType="VARCHAR"       property="stuNo"/>
        <result  column="money"                jdbcType="VARCHAR"       property="money"/>
        <result  column="lost_date"                jdbcType="TIMESTAMP"       property="lostDate"/>
        
	</resultMap>
	<insert id="insert" parameterType="com.my.schoollife.bean.Card">
		insert into t_card(card_no,status,stu_no,money)
		values(#{cardNo},#{status},#{stuNo},#{money})
	</insert>
	
	<select id="getCard" resultType="com.my.schoollife.bean.CardDto">
		select t.id as id,t.card_no as cardNo,t.status as status,t.stu_no as stuNo,t.money as money,t.lost_date as lostDate,u.name as stuName
		from t_card t , t_student u where t.stu_no=u.stu_no
		<if test="cardNo != '' and cardNo != null ">
			and card_no = #{cardNo}
		</if>
	</select>
	
	<select id="updateCard" parameterType="com.my.schoollife.bean.Card">
		update t_card
		<include refid="updateSet"/>
	</select>
	
	<sql id="updateSet">
		set
		<if test="status !='' and status !=null ">
			status=#{status},
		</if>
		<if test="money !='' and money !=null ">
			 money = #{money},
		</if>
		<if test="stuNo !='' and stuNo !=null ">
			 stu_no = #{stuNo}
		</if>
		where card_no = #{cardNo}
	</sql>	
</mapper>