<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.schoollife.dao.StudentDao">
	<resultMap type="com.my.schoollife.bean.Student" id="studentMap">
		<id 	 column="id"                        jdbcType="BIGINT"        property="id" />
        <result  column="stu_no"                jdbcType="VARCHAR"       property="stuNo"/>
        <result  column="name"                jdbcType="VARCHAR"       property="name"/>
        <result  column="class_no"                jdbcType="VARCHAR"       property="classNo"/>
        <result  column="age"                jdbcType="VARCHAR"       property="age"/>
        
	</resultMap>
	<insert id="insert" parameterType="com.my.schoollife.bean.Student">
		insert into t_student(stu_no,name,class_no,age)
		values(#{stuNo},#{name},#{classNo},#{age})
	</insert>
	
	<select id="getStudent"  parameterType="com.my.schoollife.bean.Student" resultMap="studentMap">
		 select * from t_student
 		<include refid="sqlWhere"/>
	</select>
	
	<sql id="sqlWhere">
		where
		1=1
		<if test="stuNo != '' and stuNo != null ">
			and stu_no = #{stuNo}
		</if>
		<if test="name !='' and name != null ">
			and name = #{name}
		</if>
		<if test="classNo !='' and classNo !=null ">
			and class_no = #{classNo}
		</if>
		<if test="age !='' and age !=null ">
			and age = #{age}
		</if>
	</sql>
</mapper>